.projects {
  height: 180vh;
  background-color: #f1f0f3;
  padding-top: 5%;

  @media (max-height: 770px) {
    // padding-bottom: 25%;
    height: 200vh;
  }
  @media (max-width: 800px) {
    padding-bottom: 30%;
    margin-top: 3rem;
    height: 350vh;
  }

  //   @media (max-width: 795px) {
  //     margin-top: 3rem;
  //     height: 330vh;
  //     padding-bottom: 10rem;
  //   }
  .title {
    margin: auto;
    text-align: center;

    h1 {
      color: #8123de;
    }

    h2 {
      font-weight: 400;
    }
  }

  .projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1344px) {
      justify-content: space-evenly;
    }

    .projects-item {
      background-color: #fff;
      width: 20rem;
      padding: 2rem;
      border-radius: 10px;
      margin: 2rem;

      @media (max-width: 895px) {
        width: 17rem;
      }

      @media (max-width: 799px) {
        width: 20rem;
      }
      img {
        width: 100%;
        border-radius: 10px;
        margin: auto;
      }
      h3 {
        margin-top: 15%;
        font-size: 1.3rem;
        font-weight: 600;
        border-bottom: 2px solid #8123de;
        padding-bottom: 1rem;
      }
      p {
        font-weight: 400;
        line-height: 1.5rem;
        width: 102%;
      }
      a {
        all: unset;
        display: inline-block;
        margin-top: 3%;
        margin-right: 1rem;
        padding: 0.2rem 0.6rem;
        border: 4px solid #8123de;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 600;
        transition: 0.4s;
      }

      a:hover {
        cursor: pointer;
        color: #fff;
        background-color: #8123de;
      }
    }
  }
}
