.projects {
  height: 100%;

  .title {
    margin: 0 auto;
    text-align: center;

    h1 {
      color: #8123de;
    }

    h2 {
      font-weight: 400;
    }
  }

  .projects-container {
    display: block;

    .projects-item {
      display: flex;
      width: 80%;
      margin: 0 auto;
      margin-top: 5rem;
      justify-content: space-between;

      @media (max-width: 1200px) {
        width: 95%;
      }

      @media (max-width: 900px) {
        display: block;
        justify-content: center;
        width: 90%;
        text-align: center;
      }

      @media (max-width: 510px) {
        text-align: center;
        width: 90%;
      }

      img {
        width: 27rem;
        box-shadow: 1px 6px 9px -2px rgba(0, 0, 0, 0.372);
        transition: all 0.3s ease-in-out;
        transform-origin: center;
        border-radius: 10px;

        @media (max-width: 1200px) {
          margin-right: 1.2rem;
        }

        @media (max-width: 900px) {
          width: 25rem;
          margin-right: 0;
        }

        @media (max-width: 510px) {
          width: 22rem;
        }

        @media (max-width: 400px) {
          width: 20rem;
        }
      }

      img:hover {
        width: 27rem;
        transform: scale(1.03);
        cursor: pointer;

        @media (max-width: 1200px) {
          width: 27rem;
        }

        @media (max-width: 900px) {
          width: 25rem;
          transform: scale(1);
        }

        @media (max-width: 510px) {
          width: 22rem;
          transform: scale(1);
        }

        @media (max-width: 400px) {
          width: 20rem;
          transform: scale(1);
        }
      }
      .item-info {
        width: 50%;
        margin: 0 auto;
        @media (max-width: 1200px) {
          width: 80%;
        }

        @media (max-width: 900px) {
          width: 95%;
        }

        @media (max-width: 510px) {
          width: 80%;
        }

        h3 {
          font-size: 1.3rem;
          font-weight: 600;
          color: #8123de;

          @media (max-width: 900px) {
            text-align: center;
          }
        }
        p {
          font-weight: 400;
          line-height: 1.5rem;
        }
        .tech-items {
          display: flex;
          flex-wrap: wrap;

          @media (max-width: 900px) {
            justify-content: center;
          }
          span {
            background-color: #f1f0f3;
            font-weight: 300;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            margin: 1rem 0.5rem 0 0;
          }
        }
        a {
          all: unset;
          display: inline-block;
          padding: 0.2rem 0.6rem;
          border: 3px solid #8123de;
          border-radius: 10px;
          font-size: 1rem;
          font-weight: 600;
          transition: 0.4s;
          margin-right: 1rem;
          margin-top: 1.5rem;
        }
        a:hover {
          cursor: pointer;
          color: #fff;
          background-color: #8123de;
        }
      }
    }
  }
}
