.about {
  height: 100%;
  padding-bottom: 5rem;

  @media (max-width: 500px) {
    margin-top: 2rem;
  }

  .title {
    margin: auto;
    text-align: center;

    h1 {
      color: #8123de;
    }

    h2 {
      font-weight: 400;
    }
  }

  .content {
    display: flex;
    justify-items: space-between;
    width: 80%;
    margin-left: 22%;

    @media (max-width: 1000px) {
      width: 90%;
      margin-left: 20%;
    }

    @media (max-width: 850px) {
      display: block;
      margin-top: 5%;
      margin-left: 10%;
    }

    .description {
      width: 40%;
      margin-top: 1rem;
      margin-right: 2rem;

      @media (max-width: 850px) {
        width: 92%;
      }

      p {
        font-weight: 400;
        line-height: 1.5rem;
      }
    }

    .skills {
      width: 40%;

      @media (max-width: 850px) {
        width: 100%;
        margin-top: 5%;
      }

      .skills-items {
        display: flex;
        justify-items: space-between;
        flex-wrap: wrap;
        width: 90%;

        div {
          background-color: #f1f0f3;
          font-weight: 300;
          padding: 0.5rem 1rem;
          border-radius: 10px;
          margin: 1rem 0.5rem 0 0;
        }
      }
    }
  }
}
