.home {
  height: 100%;
  width: 50%;
  margin: auto;
  margin-top: 6%;
  text-align: center;
  animation: translate 0.5s ease;
  opacity: 1;
  padding-bottom: 10rem;

  @keyframes translate {
    0% {
      transform: none;
      opacity: 0;
    }
    5% {
      transform: translateY(5rem);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @media (max-width: 600px) {
    width: 70%;
    height: 100%;
  }

  h1:nth-child(1) {
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;

    .hand-rotate {
      margin-left: 0.5rem;
      animation: rotate 2s ease 1s forwards;
    }
    @keyframes rotate {
      0% {
        transform: none;
      }
      50% {
        transform: rotate(70deg) scale(1.2);
      }
      100% {
        transform: none;
      }
    }
  }

  h1:nth-child(2) {
    margin-top: 5%;
    font-size: 4rem;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  h2 {
    margin-top: 5%;
    font-size: 2rem;
    font-weight: 300;
  }

  a {
    all: unset;
    display: inline-block;
    padding: 0.4rem 1rem;
    border: 3px solid #8123de;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.4s;
    margin: 3%;
  }

  a:hover {
    cursor: pointer;
    color: #fff;
    background-color: #8123de;
  }
}
