.contact {
  height: 60vh;
  padding-top: 5%;

  @media (max-width: 1200px) {
    height: 70vh;
  }
  .title {
    margin: auto;
    text-align: center;

    h1 {
      color: #8123de;
    }

    h2 {
      font-weight: 400;
    }
  }

  form {
    .inputs-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      flex-wrap: wrap;
      margin-left: 20%;

      @media (max-width: 1200px) {
        display: block;
      }

      h2 {
        font-weight: 400;
        font-size: 1.3rem;
      }

      input {
        all: unset;
        border: none;
        background-color: #f1f0f3;
        width: 200%;
        height: 2.5rem;
        border-radius: 10px;
        padding-left: 0.5rem;

        @media (max-width: 1200px) {
          width: 130%;
        }
      }
    }

    .input-3 {
      margin-left: 20%;
      width: 50%;

      h2 {
        font-weight: 400;
        font-size: 1.3rem;
      }

      textarea {
        all: unset;
        font-size: 1.3rem;
        background-color: #f1f0f3;
        width: 126%;
        height: 10rem;
        border-radius: 10px;
        padding: 0.5rem 0 0 0.5rem;

        @media (max-width: 1200px) {
          width: 130%;
        }
      }
    }
    button {
      all: unset;
      padding: 0.4rem 1rem;
      border: 4px solid #8123de;
      border-radius: 15px;
      font-size: 1.2rem;
      font-weight: 600;
      transition: 0.4s;
      margin: 0 auto;
      display: block;
      margin-top: 3%;

      @media (max-width: 1200px) {
        margin-top: 2rem;
      }
    }

    button:hover {
      cursor: pointer;
      color: #fff;
      background-color: #8123de;
    }
  }
}
